.icon{
    height:30px;
    width: 30px;
    justify-self: center;
}

.like {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:0;
}
.like>p{
    margin:0;
    padding:0;
}
#footer{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#artcile_img{
    width:auto;
    height: auto;
}