@media only screen and (min-width: 600px){
 h1>img {
        width:60px;
        height: 60px;

    }
    h1{
        font-size: 5em;
        text-align: center;
}
}
@media only screen and (max-width: 600px){
    h1>img {
        width:40px;
        height: 40px;

    }
    h1{
        font-size: 3.5em;
        text-align: center;
}
}