.articles {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  padding-bottom: 18px;
  margin-top: 50px;
}

.article{
  border: solid 2px black;
    border-radius: 5px;
    width: 280px;
    padding :5px;
    justify-content: center;
}

#article_img{
  width: 180px;
  height: 130px;
  margin-left: 16%;
  margin-bottom: 5px;
  
}